@font-face {
    font-family: "RobotoSlab";
    src: url(/asset/font/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

div{
    color: white;
    margin-top: 180px;
    margin-left:110px;
    height: 230px;
    width:180px;
    background-color: rgb(221, 64, 221);
    box-shadow: 10px 10px 5px #502a55;
}

#number{
    font-size: 30px;
    font-family: RobotoSlab;
    position: absolute;
    top:40px;
    left:45px;
    color:black;
    background-color: white;
    height:40px;
    width:90px;
    padding-left: 35px;
    padding-top:3px;
    box-shadow: 10px 10px 5px #030303;

}

#plusButton{
    font-size:25px;
    font-family: RobotoSlab;
    margin-top:140px;
    margin-left:15px;
    margin-right:20px;
    width:60px;
    height: 30px;
    box-shadow: 10px 10px 5px #000000;

}

#minusButton{
    font-size: 25px;
    font-family: RobotoSlab;
    position:absolute;
    top:320px;
    left:210px;
    width:60px;
    height: 30px;
    box-shadow: 10px 10px 5px #000000;

}


/* Extra small devices (phones, 480px and down) */
@media all and (max-width: 480px){
    
    div{
        margin-top: 180px;
        margin-left:110px;
        height: 230px;
        width:180px;
        box-shadow: 10px 10px 5px #502a55;
    }
    
    #number{
        font-size: 30px;
        position: absolute;
        top:40px;
        left:45px;
        height:40px;
        width:90px;
        padding-left: 35px;
        padding-top:3px;
        box-shadow: 10px 10px 5px #030303;
    
    }
    
    #plusButton{
        font-size:25px;
        margin-top:140px;
        margin-left:15px;
        margin-right:20px;
        width:60px;
        height: 30px;
        box-shadow: 10px 10px 5px #000000;
    
    }
    
    #minusButton{
        font-size: 25px;
        position:absolute;
        top:320px;
        left:210px;
        width:60px;
        height: 30px;
        box-shadow: 10px 10px 5px #000000;
    
    }
}

/* Medium devices (landscape tablets, 767px and up) */
@media all and (min-width: 767px) {

    
    div{
        margin-top: 180px;
        margin-left:240px;
        height: 350px;
        width:300px;
        box-shadow: 10px 10px 5px #502a55;
    }
    
    #number{
        font-size: 40px;
        position: absolute;
        top:60px;
        left:70px;
        height:80px;
        width:150px;
        padding-left: 65px;
        padding-top:15px;
        box-shadow: 10px 10px 5px #030303;
    
    }
    
    #plusButton{
        font-size:25px;
        margin-top:220px;
        margin-left:40px;
        margin-right:20px;
        width:100px;
        height: 50px;
        box-shadow: 10px 10px 5px #000000;
    
    }
    
    #minusButton{
        font-size: 30px;
        margin-top:220px;
        top:180px;
        left:405px;
        width:100px;
        height: 50px;
        box-shadow: 10px 10px 5px #000000;
    
    }
    
}

/* Large devices (laptops/desktops, 980px and up) */
@media all and (min-width: 980px) {
    
    div{
        margin-top: 180px;
        margin-left:340px;
        height: 350px;
        width:300px;
        box-shadow: 10px 10px 5px #502a55;
    }
    
    #number{
        font-size: 40px;
        position: absolute;
        top:50px;
        left:75px;
        height:80px;
        width:150px;
        padding-left: 65px;
        padding-top:15px;
        box-shadow: 10px 10px 5px #030303;
    
    }
    
    #plusButton{
        font-size:25px;
        margin-top:220px;
        margin-left:40px;
        margin-right:20px;
        width:100px;
        height: 50px;
        box-shadow: 10px 10px 5px #000000;
    
    }
    
    #minusButton{
        font-size: 30px;
        margin-top:220px;
        top:180px;
        left:500px;
        width:100px;
        height: 50px;
        box-shadow: 10px 10px 5px #000000;
    
    }
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media all and (min-width: 1200px) {
    
    div{
        margin-top: 180px;
        margin-left:500px;
        height: 350px;
        width:300px;
        box-shadow: 10px 10px 5px #502a55;
    }
    
    #number{
        font-size: 40px;
        position: absolute;
        top:40px;
        left:75px;
        height:80px;
        width:150px;
        padding-left: 65px;
        padding-top:15px;
        box-shadow: 10px 10px 5px #030303;
    
    }
    
    #plusButton{
        font-size:25px;
        margin-top:220px;
        margin-left:40px;
        margin-right:20px;
        width:100px;
        height: 50px;
        box-shadow: 10px 10px 5px #000000;
    
    }
    
    #minusButton{
        font-size: 30px;
        margin-top:220px;
        top:180px;
        left:665px;
        width:100px;
        height: 50px;
        box-shadow: 10px 10px 5px #000000;
    
    }
}